.navbar{
    background-color: rgba(0, 0, 0, 0.855);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: transform 0.2s 0.2s ease-in-out;
}

