
.titles{
    color: white;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
}

.titles::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 10px;
    border-top: 2px solid hsl(290, 95%, 40%);
    border-bottom: 2px solid hsl(290, 95%, 40%);
    margin-top: 55px;
    margin-left:-40px ;
}
.titles::after{
    content: "";
    position: absolute;
    width: 160px;
    border: 1px solid hsl(290, 95%, 40%);
    margin-top: -17px;
    margin-left:-80px ;
}